$antismash-main: #006CA2;
$antismash-gray: #1d1414;
$antismash-light: #0078B8;

.mibig-gf-evidence-S { // sequence-based prediction
    color: #000;
    background-color: gray;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-O { // other in vivo study
    color: #000;
    background-color: burlywood;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-H { // heterologous expression
    color: #000;
    background-color: pink;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-K { // knock-out
    color: #000;
    background-color: greenyellow;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-A { // activity-assay
    color: #000;
    background-color: goldenrod;
    padding: 3px;
    border-radius: 6px;
}

@import "style";
// mibig-specific overrides of general style should follow here

.body-details {
    grid-column: 1 e("/") 3;  // removes sidepanel details section
}

.body-details-section {
    font-size: 0.8em; // make fonts in detail panels smaller
}

nav {
    height: 60px;  // account for taller mibig icon
}

.region-download {
    background: none;
}

#header {
    margin-bottom: 0.5em;  // replaces padding around region buttons
}

.svgene-border-mibig {
    display: none;  // hides subregions in region SVG
}

a, .compound-link, .link-like {
    background: none;
    padding: 0;
    color: $antismash-main;

    &:link, &:visited {
        color: $antismash-main;
    }
    &:hover {
        text-decoration: underline;
    }
}

.compound-link {
    cursor: pointer;
}

.compound-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1.5em;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px;

    &:nth-child(even) {
        background-color: #f2f2f2;
    }
}

.compound-name {
    grid-column: 1 / span 2;
}

.compound-structure {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.compound-formula {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compound-references {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.references {
    ul {
        list-style: none;
        padding: 0;
    }

    .author-info {
        margin-left: 0.5em;
    }

}

.contributors, .changelog-notes {
    ul {
        list-style: none;
        padding: 0;
    }
}

.contributor-id {
    font-family: monospace;
}

.table {
    width: 100%;

    th {
        border-bottom: 2px solid #ddd;
        font-weight: bold;
    }
    td {
        border-bottom: 1px solid #ddd;
        vertical-align: middle;
    }
}

.table-striped {
    tr:nth-child(odd) {
        background-color: #f8f8f8;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}

.footer {
    .container {
        font-size: small;
        margin-top: 1em;
    }
}

.modification-warning {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    color: black;
    background-color: orange;

    & .collapser-content {
        font-size: 80%;
    }
}

.icon {
    height: 1em;
    width: 1em;
}
