$antismash-main: #006CA2;
$antismash-gray: #1d1414;
$antismash-light: #0078B8;

.mibig-gf-evidence-S { // sequence-based prediction
    color: #000;
    background-color: gray;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-O { // other in vivo study
    color: #000;
    background-color: burlywood;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-H { // heterologous expression
    color: #000;
    background-color: pink;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-K { // knock-out
    color: #000;
    background-color: greenyellow;
    padding: 3px;
    border-radius: 6px;
}
.mibig-gf-evidence-A { // activity-assay
    color: #000;
    background-color: goldenrod;
    padding: 3px;
    border-radius: 6px;
}

@import "style";
// mibig-specific overrides of general style should follow here

.body-details {
    grid-column: 1 e("/") 3;  // removes sidepanel details section
}

.body-details-section {
    font-size: 0.8em; // make fonts in detail panels smaller
}

nav {
    height: 60px;  // account for taller mibig icon
}

.region-download {
    background: none;
}

#header {
    margin-bottom: 0.5em;  // replaces padding around region buttons
}

.cluster-bar-group {
    display: none;  // hides subregions in region SVG
}

a, .compound-link, .link-like {
    background: none;
    padding: 0;
    color: $antismash-main;

    &:link, &:visited {
        color: $antismash-main;
    }
    &:hover {
        text-decoration: underline;
    }
}

.compound-link {
    cursor: pointer;
}

.compound-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1.5em;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 10px;

    &:nth-child(even) {
        background-color: #f2f2f2;
    }
}

.compound-name {
    grid-column: 1 / span 2;
}

.compound-structure {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.compound-formula {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compound-references {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.references {
    ul {
        list-style: none;
        padding: 0;
    }

    .author-info {
        margin-left: 0.5em;
    }

}

.contributors, .changelog-notes {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.contributor-id {
    font-family: monospace;
}

.table {
    width: 100%;

    th {
        border-bottom: 2px solid #ddd;
        font-weight: bold;
    }
    td {
        border-bottom: 1px solid #ddd;
        vertical-align: middle;
    }
}

.table-striped {
    tr:nth-child(odd) {
        background-color: #f8f8f8;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}

.footer {
    .container {
        font-size: small;
        margin-top: 1em;
    }
}

.modification-warning {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    color: black;
    background-color: orange;

    & .collapser-content {
        font-size: 80%;
    }
}

.icon {
    height: 1em;
    width: 1em;
}

.history {
    display: grid;
    grid-template-columns: 2em auto auto auto auto;
    padding-bottom: 2em;

    & .release-line {
        padding-left: 1em;
        grid-column-start: 1;
        grid-column-end: 6;

        & h4 {
            margin-bottom: 0.5em;
        }
    }

    & .border {
        height: 2px;
        background-color: #ddd;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    & .striped {
        background-color: rgb(248, 248, 248);
    }

    & .entry-header {
        font-weight: bold;
        vertical-align: middle;
        min-height: 1em;
    }

    & .entry-date {
        font-weight: bold;
        padding-left: 1em;
    }
}

.loci-grid {
    display: grid;
    grid-template-columns: fit-content(20%) fit-content(30%) 1fr;
    width: 50%;
}

.biosynthesis-section {
    margin-bottom: 2em;
}

.biosynthesis-paths {
    margin-left: 5%;
    width: 80%;

    .biosynthesis-product {
        padding: 1em;
        border: 1px solid $antismash-light;
        border-radius: 1em;
        min-width: 20%;
        width: fit-content;
        max-width: 50%;
        min-height: 8em;
        height: 100%;
        float: left;
        margin: 1em;

        .biosynthesis-product-name {
            font-weight: bold;
            font-size: 150%;
            float: left;
            margin-bottom: 0.5em;
        }

        .biosynthesis-clear {
            clear: both;
            padding-bottom: 0.2em;
        }

        .biosynthesis-path-header {
            font-weight: bold;
        }

        .show-structure-button {
            @extend .button-like;
            float: right;
            font-size: 100%;
        }

        .biosynthesis-bool {
            float: left;
            margin-right: 1em;
            display: block;
            background-color: $antismash-main;
            color: white;
            font-weight: bold;
            border-radius: 1em;
            width: 5em;
            padding: 0.5em;
        }
    }
}


.biosynthesis-modules {
    margin-bottom: 3em;
    margin-left: 5%;
    width: 80%;
    clear: both;
}

.module-grid {
    display: grid;
    width: 100%;
    grid-template-areas:
    "name-header type-header    genes-header  substrates-header integrated-header"
    "name-block  type-block     genes-block   substrates-block  integrated-block"
    "name-block  domains-header domains-block domains-block     domains-block";
    // add a faux-border
    background-color: #aeaeae;
    grid-gap: 1px;
    padding: 2px;
    margin-top: -1px;  // so that multiple grids underneath each other don't have extra border width
    // ensure that multiple grids have the same widths for columns
    grid-template-columns: 20em 20em 1fr 1fr 1fr;

    & div {
        background-color: white;
        padding-left: 1em;
    }
    & .module-header {
        text-align: center;
        font-weight: bold;
        margin-bottom: 1px;
    }
    & .name-header {
        grid-area: name-header;
        padding-left: 0;
    }
    & .name-block {
        grid-area: name-block;
        font-weight: bold;
        padding-left: unset;
        /* centering the name needs some workarounds, so fake a single-celled
           table so that we can use 'vertical-align'
        */
        & div {
            display: table;
            height: 100%;
            width: 100%;
            padding: 0;
            & div {
                display: table-cell;
                height: 100%;
                width: 100%;
                text-align: center;
                vertical-align: middle;
                padding: 0;
            }
        }
    }
    & .type-header {
        grid-area: type-header;
    }
    & .type-block {
        grid-area: type-block;
        text-align: center;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
    & .genes-header {
        grid-area: genes-header;
    }
    & .genes-block {
        grid-area: genes-block;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
    & .substrates-header {
        grid-area: substrates-header;
    }
    & .substrates-block {
        grid-area: substrates-block;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
    & .integrated-header {
        grid-area: integrated-header;
    }
    & .integrated-block {
        grid-area: integrated-block;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
    & .domains-header {
        grid-area: domains-header;
        margin-bottom: 0;
        margin-top: 1px;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
    & .domains-block {
        grid-area: domains-block;
        margin-top: 1px;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
}

.operons-body {
    .operon-items {
        border-collapse: separate;
        border-spacing: 2rem 0;
    }
}
