{% import 'biosynthetic_step_macro.html' as step_formatter with context %}
<div class="details">
  <div class="heading">
    <span>Biosynthesis information</span>
  </div>
  {% if biosynthesis.modules or biosynthesis.paths -%}
  <div class="biosynthesis-section">
   {% if biosynthesis.paths %}
   <div class="biosynthesis-paths">
    <h4 style="padding-left: 5em; font-size: 120%;">Biosynthetic paths</h4>
   {%- for path in biosynthesis.paths -%}
    {% set path_loop = loop %}
    {%- for product in path.products -%}
    <div class="biosynthesis-product">
     <div class="biosynthesis-important">
      <div class="biosynthesis-product-name">{{ product.name }}</div>
      {%- if product.structure -%}
      <div id="pathway-{{ path_loop.index }}-{{ loop.index }}" class="show-structure-button smiles-canvas" data-smiles="{{ product.structure|string }}">Show structure</div>
      <div id="pathway-{{ path_loop.index }}-{{ loop.index }}-modal" class="modal-container" style="display: none;">
       <div class="modal-content">
        <canvas class="smiles-canvas-modal" data-smiles="{{ product.structure|string }}"></canvas>
       </div>
      </div>
      {%- endif -%}
     </div>
     <div class="biosynthesis-steps biosynthesis-clear"><span class="biosynthesis-path-header">Pathway:</span> {{ step_formatter.pathway_steps(path.steps) }} {{ build_short_form_citation_links(path.references) }}</div>
     {%- if product.comment %}<div class="biosynthesis-comment biosynthesis-clear"><span class="biosynthesis-path-header">Comment:</span> {{ product.comment }}</div>{% endif %}
     {%- if path.is_subcluster %}<div class="biosynthesis-bool">Subcluster</div>{% endif -%}
     {%- if path.produces_precursor %}<div class="biosynthesis-bool">Precursor</div>{% endif -%}
    </div>
    {%- endfor -%}
   {%- endfor -%}
   </div>
   <div class="biosynthesis-clear"></div>
   {% endif %}
   {% if biosynthesis.modules %}
   <div class="biosynthesis-modules">
    <h4 style="padding-left: 5em; font-size: 120%;">Biosynthetic modules</h4>
    {% for module in biosynthesis.modules -%}
    <div class="module-grid">
      <div class="name-header module-header">Name</div>
      <div class="name-block"><div><div>{{ module.name }}</div></div></div>
      <div class="type-header module-header">Type</div>
      <div class="type-block">{{ module.module_type }}</div>
      <div class="genes-header module-header">Genes</div>
      <div class="genes-block">{{ clickable_gene_list(module.genes, record) }}</div>
      <div class="substrates-header module-header">Substrates</div>
      <div class="substrates-block">
        {% for domain in module.extra_info.get_domains() %}
          {% if domain in domains_with_substrates %}
            {{ domain.substrates | join(", ") }} (evidence: {{build_evidence_list(domain.evidence)}})
          {% endif %}
        {% endfor %}
      </div>
      <div class="integrated-header module-header">Integrated Monomers</div>
      <div class="integrated-block">
        {%- for monomer in module.integrated_monomers -%}
          {{ monomer.name }}{{ build_short_form_citation_links(monomer.references) }}{% if not loop.last %}, {% endif -%}
        {%- endfor -%}
      </div>
      <div class="domains-header module-header">Domains</div>
      <div class="domains-block">
        {%- for domain in module.extra_info.get_domains() -%}
         {{ domain.domain_type }}{% if domain.extra_info.subtype %} ({{ domain.extra_info.subtype }}){% endif -%}
         {%- if not loop.last %}, {% endif -%}
        {%- endfor -%}
      </div>
    </div>
    {%- endfor %}
   </div>
  {% endif %}
  </div>
  {% else %}
  <div class="biosynthesis-section">
    <p>No biosynthesis information available for this record.</p>
  </div>
  {% endif %}
</div>
