<div class="details">
    <div class="heading">
    <span>General information about the BGC</span>
    </div>
    <div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="25%">
                        <strong>MIBiG accession</strong>
                    </td>
                    <td>
                        {{entry.accession}}
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        <strong>Short description</strong>
                    </td>
                    <td>
                        {{entry.compounds[0].name}}
                        biosynthetic gene cluster from
                        <i>{{entry.taxonomy.name}}</i>
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        <strong>Status</strong>
                    </td>
                    <td>
                        Quality: {{entry.quality.value}}
                        {{help_tooltip("The quality level of this entry.", "mibig", inline=True)}}
                        <br />
                        Status: {{entry.status.value}}
                        {{help_tooltip("The status of this entry.", "mibig", inline=True)}}
                        <br />
                        Completeness: {{entry.completeness.value}}
                        {{help_tooltip("Whether the entry covers everything needed for the pathway producing the compound(s)", "mibig", inline=True)}}
                        </div>
                    </td>
                </tr>
                {% if entry.comment %}
                <tr>
                    <td width="25%">
                        <strong>Remarks</strong>
                    </td>
                    <td><i>"{{entry.comment}}"</i></td>
                </tr>
                {% endif %}
                <tr>
                    <td width="25%">
                        <strong>Biosynthetic class(es)</strong>
                    </td>
                    <td>
                        <ul style="padding: 0; margin: 0; list-style: none;">
                            {% for class in entry.biosynthesis.classes %}
                                <li>
                                {% set subclass = class.extra_info.subclass | string %}
                                {{ class.class_name.value }}{% if subclass %} ({{ class.extra_info.subclass | string }}){% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                  <td><strong>Loci</strong></td>
                  <td>
                    <div class="loci-grid">
                      {% for locus in entry.loci %}
                        <div style="padding-right: 2em">{{ locus.accession }}</div>
                        <div style="padding-right: 2em">{% if locus.location.begin != 0 and locus.location.end != 0 %}{{ locus.location.begin }} - {{ locus.location.end }}{% endif %}</div>
                        <div> via {{ build_evidence_list(locus.evidence) }} </div>
                      {% endfor %}
                    </div>
                  </td>
                </tr>
                <tr>
                    <td width="25%">
                        <strong>Compounds</strong>
                    </td>
                    <td>
                        <ul style="padding: 0; margin: 0; list-style: none;">
                            {% for compound in entry.compounds %}
                            <li>
                              <span class="compound-link" data-name="{{compound.name|replace(' ', '-')}}">
                                {{compound.name}}
                              </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        <strong>Species</strong>
                    </td>
                    <td>
                        <i>{{entry.taxonomy.name}}</i>
                        [<a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{entry.taxonomy.ncbi_tax_id}}">taxonomy</a>]
                    </td>
                </tr>
                <tr class="references">
                    <td width="25%">
                        <strong>References</strong>
                    </td>
                    <td>
                        <ul>
                            {% for url in publications_links %}
                            <li>
                              <svg class="icon"><use xlink:href="images/icons.svg#book"></use></svg>
                                [{{ url.citation.short_id }}] <a href="{{url.ref}}" target="_blank">{{url.title}}</a>
                                {% if url.info %}
                                <span class="author-info">{{url.info}}</span>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
    </div>
</div>
