<div class="details">
    <div class="heading">
        <span>Saccharide-specific information</span>
    </div>
    <div>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td width="25%">
                        <strong>Subclass</strong>
                    </td>
                    <td>
                        {{sac.subclass}}
                    </td>
                </tr>
                {% if sac.sugar_subclusters %}
                <tr>
                    <td width="25%">
                        <strong>Sugar-encoding genes</strong>
                    </td>
                    <td>
                        <ul>
                            {% for sc in sac.sugar_subclusters %}
                                <li>{{", ".join(sc)}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% for gt in sac.glycosyltransferases %}
                <tr>
                    {% if loop.index == 1 %}
                    <td rowspan="{{sac.glycosyltransferases|length}}" style="text-align:left; vertical-align: text-top;">
                        <strong>Glycosyltransferases</strong>
                    </td>
                    {% endif %}
                    <td>
                        <div style="margin-bottom: 1em;">
                            <strong>
                                >{{gt.gene_id or "?"}}
                            </strong><br />
                            {% if gt.specificity_pretty %}
                            Specificity: {{gt.specificity_pretty}}<br />
                            {% endif %}
                            Evidence: <br />
                            <ul style="padding:0; padding-left: 1em; margin:0;">
                                {% for ev in gt.evidence %}
                                <li>
                                    {{ev}}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
