<footer class="footer">
  <div class="container">
    <div class="cite-me">
      <svg class="icon"><use xlink:href="images/icons.svg#bug"></use></svg>
      Found an error? Please <a href="https://github.com/mibig-secmet/mibig-json/issues/new?labels=entry+error&template=error-in-cluster.md&title=Error+with+{{mibig_id}}">report it</a>.<br>
    </div>
    <div class="cite-me">
      <svg class="icon"><use xlink:href="images/icons.svg#envelope"></use></svg>
      Comments or questions on MIBiG? Please do not hesitate to <a href="mailto:mibig@secondarymetabolites.org">contact us</a>.<br>
    </div>
    <div class="cite-me">
      <svg class="icon"><use xlink:href="images/icons.svg#file-signature"></use></svg>
      Anything to add? Please <a href="https://github.com/mibig-secmet/mibig-json/issues/new?labels=enhancement&template=additional-annotations-for-cluster.md&title={{mibig_id}}+enhancement">suggest an update</a>.
    </div>
  </div>
</footer>
