  <nav>
    <div class="main-link">
     <div>
        <a href="{{options.base_url}}">
          <img src="images/mibig_logo.svg" alt="MIBiG logo" width="100">
        </a>
       </div>
       <div style="padding-top: 20px;">
        <a href="{{options.base_url}}">
          Repository of Known Biosynthetic Gene Clusters
        </a>
      </div>
    </div>
    <div class="ancillary-links" style="padding-top: 30px;">
      <div class="ancillary-link"><a href="{{options.base_url}}#!/contact"><img src="images/contact.svg" alt="contact"> &nbsp; Contact</a></div>
    </div>
  </nav>
