<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{page_title}}</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/mibig.css">
  {% if entry.status.value == 'pending' %}
  <link rel="stylesheet" type="text/css" href="css/pending.css">
  {% endif %}
</head>
{% set multi_record = False %}
<body>
  <div id="header">
    {% include 'header.html' %}
  </div>

{% include 'regions.html' %}
{% include 'footer.html' %}

  <script src="js/jquery.js"></script>
  <script src="js/antismash.js"></script>
  <script src="js/mibig.js"></script>
  <script src="regions.js"></script>
  <script>
    $(document).ready(function() {
        window.location.href = "#r1c1";
        window.scrollTo(0, 0);
        options = {
          disableRegionNav: true,
        };
        viewer["start"](all_regions, details_data, resultsData, recordData, options);
        reveal_contributors();
        const compound_links = document.getElementsByClassName("compound-link");
        for(let i=0; i < compound_links.length; i++) {
            const link = compound_links[i];
            link.addEventListener("click", function() {
                const compound_id = link.getAttribute("data-name");
                document.querySelectorAll("[data-name='r1c1-mibig-compounds']")[0].click();
                document.getElementById(compound_id).scrollIntoView({behavior: "smooth"});
            });
        };
    })
  </script>

{% include 'svg_references.html' %}
</body>
</html>
